body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0px;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
    }
}


/* #region header */

.header-page {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-page .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-header {
    color: #2e2f42;
}

@media screen and (max-width: 767px) {

    .address-page,
    .nav-list {
        display: none;
    }
}

.nav-btn-mobile {
    background-color: transparent;
    border: none;
    stroke: #111111;
    padding: 0;
    line-height: 0;
}

@media screen and (min-width: 768px) {

    .nav-btn-mobile {
        display: none;
    }

    .nav-page {
        display: flex;
        align-items: center;
        margin-right: 76px;

    }

    .nav-list {
        display: flex;
        gap: 40px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-item {}

    .nav-item-link-studio::after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .nav-item-link {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;

    }

    .nav-item-link-studio {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-item-link:hover,
    .nav-item-link:focus {
        color: #404bbf;
    }

    .address-page {
        font-style: normal;

    }

    .address-list {
        display: block;
        gap: 12px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-item {}

    .address-item-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-item-link:hover,
    .address-item-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {

    .nav-btn-mobile {
        display: none;
    }
        .nav-page {
            display: flex;
            align-items: center;
            margin-right: 76px;
    
        }

        .nav-list {
            display: flex;
            gap: 40px;
    
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .nav-item {}
    
        .nav-item-link-studio::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
    
        .nav-item-link {
    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
    
        }
    
        .nav-item-link-studio {
            position: relative;
            color: #404bbf;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .nav-item-link:hover,
        .nav-item-link:focus {
            color: #404bbf;
        }
    
        .address-page {
            font-style: normal;
    
        }
    
        .address-list {
            display: flex;
            gap: 40px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-item {}
    
        .address-item-link {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            padding-top: 24px;
            padding-bottom: 24px;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-item-link:hover,
        .address-item-link:focus {
            color: #404bbf;
        }
}

/* #endregion header */

/* #region hero */

.hero {
    margin: 0 auto;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleOffice.jpg);
}

@media screen and (min-width: 768px){
    .hero {
            margin: 0 auto;
            max-width: 786px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            padding: 188px 0;
            background-color: #2e2f42;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleOffice.jpg);
        }
}

@media screen and (min-width: 1158px) {
    .hero {
        margin: 0 auto;
        max-width: 1158px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        padding: 188px 0;
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleOffice.jpg);
    }
}


.hero .container {}

.hero-title {
    display: block;
    margin: 0 auto;
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .hero-title {
            display: block;
            margin: 0 auto;
            max-width: 496px;
            font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #ffffff;
            margin-bottom: 48px;
        }
}

@media screen and (min-width: 1158px) {
    .hero-title {
            display: block;
            margin: 0 auto;
            max-width: 496px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #ffffff;
            margin-bottom: 48px;
        }
}

.hero-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region benefits */

.benefits {
    padding: 120px 0;
}

.our-benefits {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-table {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.benefits-list {

    width: 264px;
}

.icons-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px){
    .icons-benefits {
            display: none;
        }
}

.icons-benefit-item {}

.benefits-list-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .benefits-list-header {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list-header {
        text-align: start;
        font-weight: 500;
        font-size: 20px;
    }
}

.benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region ourTeam */

                .team {
                    padding: 120px 0;
                    background-color: #f4f4fd;
                }
        
                .team .container {}
        
                .our-team {
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #2e2f42;
                    margin-bottom: 72px;
                }
        
                .team-table {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 24px;
                }
        
                @media screen and (max-width: 1157px) {
        
                    .team-table {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
        
                @media screen and (max-width: 767px) {
        
                    .team-table {
                        gap: 72px;
                    }
                }
        
                .team-list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 32px;
                    width: 264px;
                    background-color: #FFFFFF;
                    border-radius: 0 0 4px 4px;
                    padding: 0px 0px 32px 0px;
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
                }
        
                .team-container {
                    padding: 32px 0;
                }
        
                .team-img {}
        
                .team-list-header {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    text-align: center;
                    margin-bottom: 8px;
                }
        
                .team-list-text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #434455;
                    text-align: center;
                }
        
                .icons-list {
                    display: flex;
                    justify-content: center;
                    gap: 24px;
        
                }
        
                .icons-item {
                    fill: none;
                }
        
                .icons-item-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #4d5ae5;
                    column-gap: 24px;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .icons-item-link:hover,
                .icons-item-link:focus {
                    background-color: #404bbf;
                }
        
                .icon {
                    fill: #f4f4fd;
                }

/* #endregion */

/* #region portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio .container {}

.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .portfolio-table {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-table {
        column-gap: 24px;
        row-gap: 40px;
    }
}

.portfolio-list {
    width: 264px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        width: 356px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        width: 360px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img-container {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-container {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-list-item-container {
    transform: translateY(0%);
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-img {}

.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region bottom */

.bottom {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: baseline;
}


.bottom .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

@media screen and (min-width: 1158px) {
    .bottom .container {
        flex-wrap: nowrap;
    }
}

.bottom-text {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .bottom-text {
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .bottom-text {
        margin-bottom: 0px;
        margin-right: 120px;
    }
}

.bottom .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .bottom .logo {
        justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
    .bottom .logo {
            display: inline-block;
        }
}

.logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    color: #f4f4fd;
}

@media screen and (min-width: 1158px) {
    .logo-footer {
            display: inline-block;
        }
}

.bottom-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.icons-container {
    margin-bottom: 72px;
}

@media screen and (min-width: 1158px) {
    .icons-container {
            margin-right: 80px;
            margin-bottom: 0px;
        }
}

.social-media-icons {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .social-media-icons {
        justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
    .social-media-icons {
            display: block;
        }
}

.bottom .icons-list {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

@media screen and (min-width: 1158px) {
    .bottom .icons-list {
            display: flex;
            justify-content: start;
        }
}

.bottom .icons-item {
    width: 40px;
    height: 40px;
}

.bottom .icons-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom .icons-item-link:hover,
.bottom .icons-item-link:focus {
    background-color: #31d0aa;
}

.bottom .icon {
    fill: #f4f4fd;
}

.footer-form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-form-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .footer-form-text {
        justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-form-text {
            display: block;
        }
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

@media screen and (min-width: 1158px) {
    .footer-form {
            flex-direction: row;
        }
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label {}

.footer-form-label-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-form-btn-icon {
    margin-left: 16px;
}

/* #endregion */

/* #region backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

@media screen and (max-width: 767px) {
    .modal {
        width: 288px;
    }
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus .modal-icon-close {
    fill: #ffffff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input-icon {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-comments {
    margin-bottom: 16px;
}

.modal-comments-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comments-textarea:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-checkbox-input:checked+.checkbox-label>.checkbox-custom {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-checkbox-privat-policy {
    color: #4d5ae5;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region mobile menu */

.mobile-menu {
    overflow: scroll;
    background-color: #ffffff;
    color: #2e2f42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    transform: translateX(100%);
    transition: transform 250ms;
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.container-mobile-menu {
    position: relative;
}

.mobile-close-btn {
    position: absolute;
        top: 8px;
        right: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-mobile {
    padding-top: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.nav-item-link-mobile {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
}

.nav-item-link-mobile:hover,
.nav-item-link-mobile:focus {
    color: #404bbf;
}

.address-list-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.address-item-link-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item-link-mobile:hover,
.address-item-link-mobile:focus {
    color: #404bbf;
}

.mobile-menu .icons-list {
    display: flex;
    gap: 40px;
}

.mobile-menu .social-media-icons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.mobile-menu .icons-item {
    width: 40px;
    height: 40px;
}

.mobile-menu .icons-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .icons-item-link:hover,
.mobile-menu .icons-item-link:focus {
    background-color: #31d0aa;
}

.mobile-menu .icon {
    fill: #f4f4fd;
}

/* #endregion */